:root{
    --White: hsl(0, 0%, 100%);
    --Light_Grey: hsl(217, 12%, 63%);
    --Medium_Grey: hsl(216, 12%, 54%);
    --Dark_Blue: #1e252f;
    --Very_DarkBlue: hsl(216, 12%, 8%);
    --greyTransition: #262f38;
    --color-primary: hsl(25, 97%, 53%);

    background-color: var(--Very_DarkBlue);
    
}

@import url(https://fonts.google.com/specimen/Overpass);

body{
    font-family: 'Overpass', sans-serif;
    font-weight: 400, 500;
    color: var(--Light_Grey);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
a{
    color: var(--color-primary);
}
h1{
    color: var(--White);
}

form{
    margin-top: 8%;
    text-align: center;
}

p{
    font-size: 15px;
}

/* Classes */
/* front-end mentor line */

.attribution {
    font-size: 12px;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 28rem;
}

/* Btn */

.button_rate{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border-width: 0px;
    color:var(--Light_Grey);
    background-color: var(--greyTransition);
    margin: 8px; 
    cursor: pointer;  

}

.button_rate:focus{
    background-color: var(--Light_Grey);
    color: var(--White);
}

.submitBtn{
    padding: 15px;
    width: 95%;
    border-radius: 20px;
    border: 0px;
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 550;
    background-color: var(--color-primary);
    margin-top: 30px;
    cursor: pointer;
}



.rateInfo{

    border-radius: 20px;
    padding:5px;
    width: 70%;
    margin-left: calc(50% - 50%);
    margin-bottom: 5%;
    font-size: 15px;
    color: var(--color-primary);
    background-color: var(--greyTransition);
    
}

/* flex-box for Divs */
.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
} 

/*Divs*/

.atribution {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: inherit;
    padding-top: 28rem;
}

.ratingDiv {
    /*display:none;*/
    display: block;
    position: absolute;
    width: 340px;
    padding:40px;
    border-radius: 25px; 
    margin-left: auto;
    margin-right: auto;
    background-color: var(--Dark_Blue);
    line-height: 25px;
    letter-spacing: 1px;
}

.thanksDiv{
    display: none;
    position: absolute;
    width: 340px;
    padding: 40px;
    border-radius: 25px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--Dark_Blue);
    line-height: 25px;
    letter-spacing: 1px;
}

.iconDiv{
    background-color: var(--greyTransition);
    border-radius: 50%;
    width: 20px;
    padding: 10px;
    height: 20px;
}

/*img */

.starImg{
    padding-left: 10%;
}

.thankImg{
    margin-bottom: 3%;
}
